html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 95%;
  max-height: 800px;
  margin: 40px auto;
}

.custom-event-class {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;  
  /*border-top: 5px solid; /* Style CSS pour la bordure gauche */
  font-weight: bold;
}

/* CSS personnalisé */
.event-hover {
  position: absolute;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}
